[Unit]
Description=rancher
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop rancher
ExecStartPre=-/usr/bin/docker kill rancher
ExecStartPre=-/usr/bin/docker rm rancher
ExecStartPre=-/usr/bin/docker network create nginx-network
ExecStart=/usr/bin/docker run --name rancher --net nginx-network -p 80:80 -p 443:443 -v /home/core/data/rancher:/var/lib/rancher  rancher/rancher
ExecStop=/usr/bin/docker stop rancher
ExecStop=/usr/bin/docker kill rancher

[Install]
WantedBy=multi-user.target

