[Unit]
Description=autorun

After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=0
ExecStart=/home/core/docker/shell/autorun
ExecStop=/usr/bin/pkill autorun

[Install]
WantedBy=multi-user.target

