[Unit]
Description=eth-open
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop eth-open
ExecStartPre=-/usr/bin/docker kill eth-open
ExecStartPre=-/usr/bin/docker rm eth-open
ExecStartPre=-/usr/bin/docker network create coin-network

ExecStart=/usr/bin/docker run --name=eth-open --net coin-network -u root -v /home/core/data/eth-open:/root/.local/share/io.parity.ethereum openethereum/openethereum:v3.2.4

ExecStop=/usr/bin/docker stop eth-open

[Install]
WantedBy=multi-user.target
