[Unit]
Description=elasticsearch
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop elasticsearch
ExecStartPre=-/usr/bin/docker kill elasticsearch
ExecStartPre=-/usr/bin/docker rm elasticsearch
ExecStartPre=-/home/core/docker/shell/install_fleetctl elasticsearch
ExecStartPre=-/usr/bin/docker network create nginx-network
ExecStartPre=/usr/sbin/sysctl -w vm.max_map_count=262144
ExecStartPre=-/usr/bin/mkdir -p /home/core/data/elasticsearch/data
ExecStartPre=-/usr/bin/chmod -R 777 /home/core/data/elasticsearch/config
ExecStartPre=-/usr/bin/chmod 777 /home/core/data/elasticsearch/data

ExecStart=/usr/bin/docker run --name elasticsearch --net nginx-network -p 9200:9200 -p 9300:9300 \
-v /home/core/data/elasticsearch/config/elasticsearch.yml:/usr/share/elasticsearch/config/elasticsearch.yml \
-v /home/core/data/elasticsearch/data:/usr/share/elasticsearch/data \
-v /home/core/data/elasticsearch/plugins:/usr/share/elasticsearch/plugins \
-e "discovery.type=single-node" \
wenshunbiao/elasticsearch

ExecStop=/usr/bin/docker stop elasticsearch
ExecStop=/usr/bin/docker kill elasticsearch

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true
