[Unit]
Description=rustdesk
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop rustdesk
ExecStartPre=-/usr/bin/docker kill rustdesk
ExecStartPre=-/usr/bin/docker rm rustdesk
ExecStartPre=-/home/core/docker/shell/install_fleetctl rustdesk

# document: https://rustdesk.com/docs/en/
ExecStart=/usr/bin/docker run --name rustdesk --net=host -v /home/core/data/rustdesk/data:/root rustdesk/rustdesk-server sh -c "hbbs -k your_key -r <relay-server-ip[:port]> & hbbr -k your_key"

ExecStop=/usr/bin/docker stop rustdesk
ExecStop=/usr/bin/docker kill rustdesk

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true

