[Unit]
Description=hyperf
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop hyperf
ExecStartPre=-/usr/bin/docker kill hyperf
ExecStartPre=-/usr/bin/docker rm hyperf
ExecStartPre=-/home/core/docker/shell/install_fleetctl hyperf
ExecStartPre=-/usr/bin/docker network create nginx-network
ExecStart=/usr/bin/docker run --name hyperf --net nginx-network -p 9501:9501 -v /home/core/data/hyperf/www:/www wenshunbiao/hyperf
ExecStop=/usr/bin/docker stop hyperf
ExecStop=/usr/bin/docker kill hyperf

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true

