[Unit]
Description=cadvisor
After=docker.service
Requires=docker.service

After=php.service

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop cadvisor
ExecStartPre=-/usr/bin/docker kill cadvisor
ExecStartPre=-/usr/bin/docker rm cadvisor
ExecStart=/usr/bin/docker run \
  --volume=/:/rootfs:ro \
  --volume=/var/run:/var/run:rw \
  --volume=/sys:/sys:ro \
  --volume=/var/lib/docker/:/var/lib/docker:ro \
  --publish=8080:8080 \
  --link influxdb:influxdb \
  --name=cadvisor \
  google/cadvisor:latest \
    -storage_driver=influxdb \
    -storage_driver_db=cadvisor \
    -storage_driver_host=192.168.1.112:8086
ExecStop=/usr/bin/docker stop cadvisor
ExecStop=/usr/bin/docker kill cadvisor

[Install]
WantedBy=multi-user.target

