<yandex>
    <users>
      <alice>
          <profile>analytics</profile>
            <networks>
                  <ip>::/0</ip>
            </networks>
          <password_sha256_hex></password_sha256_hex>
          <quota>analytics</quota>
      </alice>
    </users>
</yandex>

