[Unit]
Description=yapi
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop yapi
ExecStartPre=-/usr/bin/docker kill yapi
ExecStartPre=-/usr/bin/docker rm yapi
ExecStartPre=-/home/core/docker/shell/install_fleetctl yapi
ExecStartPre=-/usr/bin/docker network create nginx-network
ExecStart=/usr/bin/docker run --name yapi --net nginx-network -p 3000:3000 -v /home/core/data/yapi:/yapi wenshunbiao/yapi
ExecStop=/usr/bin/docker stop yapi
ExecStop=/usr/bin/docker kill yapi

[Install]
WantedBy=multi-user.target

[X-Fleet]
Global=true

