[Unit]
Description=syncthing
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=5
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop syncthing
ExecStartPre=-/usr/bin/docker kill syncthing
ExecStartPre=-/usr/bin/docker rm syncthing
ExecStart=/usr/bin/docker run --name syncthing -p 8384:8384 -p 22000:22000 -p 21027:21027/udp -v /home/core/data/syncthing:/var/syncthing -u root ivories/syncthing
ExecStop=/usr/bin/docker stop syncthing
ExecStop=/usr/bin/docker kill syncthing

[Install]
WantedBy=multi-user.target

