[Unit]
Description=nsq
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop nsq
ExecStartPre=-/usr/bin/docker kill nsq
ExecStartPre=-/usr/bin/docker rm nsq
ExecStartPre=-/home/core/docker/shell/install_fleetctl nsq
ExecStartPre=-/usr/bin/docker network create nginx-network
ExecStart=/usr/bin/docker run --name nsq --net nginx-network -p 4160:4160 -p 4161:4161 -p 4150:4150 -p 4151:4151 -p 4171:4171 wenshunbiao/nsq
ExecStop=/usr/bin/docker stop nsq
ExecStop=/usr/bin/docker kill nsq

[Install]
WantedBy=multi-user.target

