[Unit]
Description=openclinica
After=docker.service

[Service]
Restart=always
RestartSec=30
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker stop openclinica
ExecStartPre=-/usr/bin/docker kill openclinica
ExecStartPre=-/usr/bin/docker rm openclinica
ExecStartPre=-/usr/bin/docker network create openclinica-nw
ExecStart=/usr/bin/docker run --name openclinica --net openclinica-nw -p 8080:8080 -v /home/core/data/openclinica/includes:/usr/local/tomcat/webapps/OpenClinica/includes -v /home/core/data/openclinica/images:/usr/local/tomcat/webapps/OpenClinica/images -v /home/core/data/openclinica/jsp:/usr/local/tomcat/webapps/OpenClinica/WEB-INF/jsp -v /home/core/local/openclinica/openclinica.data:/usr/local/toimcat/openclinica.data ivories/openclinica
ExecStop=/usr/bin/docker stop openclinica
ExecStop=/usr/bin/docker kill openclinica

[Install]
WantedBy=multi-user.target

